* {
padding: 0;
text-decoration: none;
}
html, body {
margin: 0;
height: 100%;
background: #000000 url('../images/background_image.png') no-repeat 50% 0%;
}
#page {
height: 100%;
max-width: 1920px;
min-width: 1050px;
margin: 0 auto;
font-family: 'DejaVu Sans Light', 'Arial';
font-size: 16px;
}
.head {
height: 90px;
padding-top: 33px;
box-sizing: border-box;
background: #172138;
text-align: center;
}
.menu {
display: inline-block;
padding: 0px 0px 0px 0px;
}
.language {
padding: 0px 0px 0px 0px;
display: inline-block;
}
.body {
box-sizing: border-box;
height: 100%;
padding: 0px 0px 0px 100px;
}
.categories {
display: inline-block;
overflow-x: hidden;
overflow-y: auto;
height: 100%;
max-width: 275px;
min-width: 275px;
background: rgba(204, 204, 204, 0.05);
}
.content {
display: inline-block;
overflow-x: hidden;
overflow-y: auto;
height: 100%;
max-width: 1385px;
min-width: 1385px;
background: rgba(204, 204, 204, 0.05);
}
.shell {
min-height: 100%;
padding: 10px 50px 10px 50px;
background: rgba(204, 204, 204, 0.5);
}
.navigation {
margin: 10px 0px 0px 0px;
text-align: center;
}
.footer {
height: 90px;
padding-top: 37px;
box-sizing: border-box;
background: #0c0e0d;
text-align: center;
font-size: 14px;
}
.label-form {
display: inline-block;
min-width: 140px;
padding-bottom: 10px;
vertical-align: top;
}
.error-form ul {
list-style: none;
padding: 0;
color: #000000;
}
.centre-text {
padding-top: 300px;
text-align: center;
}
.link-white {
color: #ffffff;
}
.link-white:hover {
color: #cccccc;
}
.link-white:active {
color: #a3a3a3;
}
.link-dark {
color: #000000;
}
.link-dark:hover {
color: #353535;
}
.link-dark:active {
color: #535353;
}
.button {
background: #006a4e;
padding: 10px;
margin: 25px 0px 0px 0px;
font-size: 20px;
color: #ffffff;
border: 1px solid #006a4e;
border-radius: 6px;
}
.button:hover {
background: #084c3a;
border: 1px solid #084c3a;
color: #cccccc;
}
.button:active {
background: #0c372c;
border: 1px solid #0c372c;
color: #a3a3a3;
}
