{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="content-shell">

    <section>
        <!-- <h1 class="post">{% trans 'About the website' %}</h1> -->

        <h1 class="post">{{ page_header }}</h1>

        <div class="image-text-wrapper">

            <!-- <img class="image-container" src="{{ photo.url }}" alt="Изображение"> -->

            <article class="text-container">
                {% include 'base/inclusions/telescope.html' %}
                {% trans 'An example of a website on Django' %}

                <!-- {% autoescape off %} -->
                <!-- {{ content }} -->
                <!-- {% endautoescape %} -->
            </article>

        </div>
    </section>

</div>
{% endblock %}
