{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="content-shell">

    <h1 class="post">{{page_header}}</h1>

    <div class="image-text-wrapper">
        <section class="image-content-container">
            {% if content.photo %}
            <img src="{{photo.url}}" alt="{{header}}">
            {% else %}
            {% include 'base/inclusions/image_icon.html' %}
            {% endif %}
        </section>

        <div class="text-button-wrapper">
            <article class="text-container">
                {{post|linebreaks}}
            </article>

            <article>
                {% trans 'Author: ' %}{{author|default:"Unknown"}} | {% trans 'Date: ' %}{{time_update|date:"d-m-Y H:i:s"}}
            </article>

            <section class="button-wrapper">
                {% if perms.users.change_users %}
                <a class="link-dark" href="{% url 'users:edit' slug %}">{% trans 'Edit article' %}</a>
                {% endif %}
                {% if perms.users.delete_users %}
                <a class="link-dark" href="{% url 'users:delete' slug %}">{% trans 'Delete article' %}</a>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
