{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<!-- Посты -->
{% for i in post %}

<!-- Изображение -->
{% if i.photo %}
<a href='{{i.get_absolute_url}}'>
    <img align="left" src="{{i.photo.url}}" height="165" hspace="15" alt="{{i.header}}">
</a>
{% else %}
<a class="link-dark" href="{{i.get_absolute_url}}">
    {% include 'base/inclusions/image_icon.html' %}
</a>
{% endif %}

<!-- Заголовок поста -->
{{i.header}}
{% if i.category.cat_name != None %}
<p>{{i.category.cat_name}}</p>
{% else %}
<p>{% trans 'Star' %}</p>
{% endif %}

<!-- Текст поста с фильтрами -->
{% autoescape off %}
{{i.post|linebreaks|truncatewords:30}}
{% endautoescape %}

<!-- Ссылка на пост -->
<p align="right">
    <a class="link-dark" href="{{i.get_absolute_url}}">{% include 'base/inclusions/eyeglasses_icon.html' %}</a>
</p><br>
{% if not forloop.last %}
<hr class="line"><br>
{% endif %}

{% endfor %}
{% endblock %}

<!-- Блок навигации -->
{% block navigation %}
<div class="navigation">
    {% if page_obj.has_other_pages %}
    {% if page_obj.has_previous %}
    <a class="link-dark" href="?page={{page_obj.previous_page_number}}">
        {% include 'base/inclusions/caret_left_icon.html' %}&nbsp;
    </a>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <a>{{i}}</a>
    {% elif i >= page_obj.number|add:-2 and i <= page_obj.number|add:2 %}
    <a class="link-dark" href="?page={{i}}">{{i}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="link-dark" href="?page={{page_obj.next_page_number}}">
        &nbsp;{% include 'base/inclusions/caret_right_icon.html' %}
    </a>
    {% endif %}
    {% endif %}
</div><br>
{% endblock %}
